.orchid_list_header {
  padding: 10px 30px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.orchid_list_heading {
  font-style: 26px;
  color: #ffe400;
}

.orchid_filter {
  list-style: none;
  font-size: 16px;
}
.orchid_filter_item {
  padding: 5px 10px;
  cursor: pointer;
}
.orchid_filter_item.active {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 500;
}
.orchid_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 10px;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}
.orchid_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
